*body{ 
font-family: 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color:#8d50c6;
    text-align: center;
    line-height: 2.1;
} 

.hero img{
    border-radius: 100px;
} 

.accent{
    color:rgba(0, 0, 0, 0.915);

}



.grind{
    display: flex;
    justify-content: center; 
   /* justify-content: space-around; */
    gap: 15px; 
    flex-wrap:wrap; 
} 

.grid div{
    background-color: rgb(134, 148, 193);
    border-radius: 60px; 
    padding: 7px; 
    min-width: 80px; 
}